/*--GENERAL--*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #34495e;
}

/*--CALENDAR VIEW --*/

#calendar {
  margin-top: 1em;
}

.header {
  text-align: center;
  background-color: #3498db;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2.5em;
}

.arrow {
  background-color: #3498db;
  height: 100%;
}

.arrow i {
  margin-top: 0.25em;
  font-size: 2em;
}

.arrow:hover {
  background-color: #3498db;
}

.week {
  margin-bottom: 0px;
  height: 50px;
}

.day {
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  width: 14.285714285714285714285714285714% !important;
  *width: 14.285714285714285714285714285714% !important;
}

.day:hover {
  background-color: #3498db;
}

.faded {
  color: lightgrey;
}

.hasEvents {
  font-weight: bold;
}

/*--SIDE VIEW--*/

.options {
  padding: 0.05em;
  margin-top: 1em;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.option {
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.option::selection {
  color: none;
  background: none;
}

.eventList p {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.time {
  text-align: center;

}
.tools {
  cursor: pointer;
}

/*--SHARED STYLES--*/
.selected {
  background-color: #3498db;
  color: white;
}

.btn,
.btn:hover,
.btn:active,
.btn:visited {
  background-color: #3498db;
}

