<nav>
  <div class='nav-wrapper'>
    <ul class='left'>
      <li><a href='#/' class="waves-effect waves-light btn" ng-click='changeView("year")'>Year</a></li>
      <li><a href='#/' class="waves-effect waves-light btn" ng-click='changeView("month")'>Month</a></li>
    </ul>
  </div>
</nav>
<div class='row'>
  <div id='calendar' class='col s12 m6'>
    <div class="row header week">
      <a class='btn left arrow' ng-click='changeMonth(false)'><i class="material-icons">keyboard_arrow_left</i></a>
      <span>{{selectedMonth.format("MMMM, YYYY")}}</span>
      <a class='btn right arrow' ng-click='changeMonth(true)'><i class="material-icons">keyboard_arrow_right</i></a>
    </div>
    <div class="row week names">
      <div class='col s1 day'>Sun</div>
      <div class='col s1 day'>Mon</div>
      <div class='col s1 day'>Tue</div>
      <div class='col s1 day'>Wed</div>
      <div class='col s1 day'>Thu</div>
      <div class='col s1 day'>Fri</div>
      <div class='col s1 day'>Sat</div>
    </div>
    <div class='row week' ng-repeat='week in weeks'>
      <div class='col s1 day' ng-repeat='day in week.days' ng-click='selectDay(day)'>
        <span class='row' ng-class="{'faded': !day.isCurrentMonth, 'hasEvents': month[day.date.clone().format('L')]}">{{day.number}}</span>
        <i class="material-icons tiny row" ng-show="month[day.date.clone().format('L')]">lens</i>
      </div>
    </div>
  </div>
  <div id='events' class='col s12 m6'>
    <div class="row options">
      <div class='col s6 option' ng-class="{'selected': showList}" ng-click='toggleView()'>
        List of Events
      </div>
      <div class='col s6 option' ng-class="{'selected': !showList}" ng-click='toggleView()'>
        Add Event
      </div>
    </div>
    <div id='addEvent' ng-show='!showList'>
      <form name="eventForm" ng-submit="addEvent()" novalidate>
        <div class="input-field form-group" ng-class="{ 'has-error' : eventForm.name.$invalid && !eventForm.name.$pristine }">
          <input id='event-name' type='text' name='name' class='form-control, validate' placeholder='Event name' ng-model='event.name' required>
        </div>
        <div class='row'>
          <div class="input-field form-group col s6" ng-class="{ 'has-error' : eventForm.date.$invalid && !eventForm.date.$pristine }">
            <input id='event-date' type="date" name='date' class="form-control" ng-model="event.originalDate" required>
          </div>
          <div class="input-field form-group col s6" ng-class="{ 'has-error' : eventForm.time.$invalid && !eventForm.time.$pristine }">
            <input id='event-date' type="time" name='time' class="form-control" ng-model='event.originalTime' required>
          </div>
        </div>
        <div class="input-field form-group">
          <input id='event-description' type="text" name='description' placeholder='Event description' class="form-control" ng-model='event.description' required>
        </div>
        <div class='row'>
          <button type="submit" class="waves-effect waves-light btn col s12">Done</button>
        </div>
      </form>
    </div>
    <div id='eventList' ng-show='showList'>
      <p class='selectedDay'> Events for {{selectedDay.format('MMMM Do YYYY')}}</p>
      <p ng-show='!events'> There are no events scheduled for this day </p>
      <ul>
        <li class='row event' ng-repeat='event in events'>
          <p class='col s2 time'>{{event.time ? event.time : 'All Day'}}</p>
          <div class='col s10'>
            <h5>{{event.name}}</h5>
            <p>{{event.description}}</p>
            <i class="material-icons tools" ng-click='toggleView(event)'>edit</i>
            <i class="material-icons tools" ng-click='removeEvent(event)'>delete_forever</i>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>
</div>
